<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href='{% static "country_current/oops.css" %}'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>oops</title>
  </head>
  <body>
    <div class="container">
    <h2><i class="fas fa-exclamation-triangle"></i><span> OOPS!</span> something went wrong.</h2>
      <p>{{ d }}</p>
    </div>
  </body>
</html>